.container{
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top:30px;
}
.title{
    color: #fff;
    font-size: 72px;
}
.text{
    font-size: 32px;
}